# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Identify key libraries used in Data Science.
- Introduce tools for Data Science development.
- Explain basic arithmetic operations in Python.
- Demonstrate how to convert time units in Python.

### Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

|Data science Tools|
|------------------|
|Jupyter Notebook  |
|RStudio           |
|Apache Zeppelin   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print (200/60, "hr")

3.3333333333333335 hr

## AUTHOR
Rishu Singh